output_files/
db/
incremental_db/
simulation/
*.sof
*.pof
*.jic
*.qws
*.smsg
*.rpt
*.summary
*.syr
*.qdf
*.qsf~
*.sdc~
*.vcd
*.wlf
*.log
*.out
work/
transcript
vsim.wlf
*.vstf
*.bak
*.swp
*.tmp
.vscode/
.DS_Store
Thumbs.db
